.map-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: relative;
    margin-top: 20px;
}

.map-link a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    position: relative;
}

.map-link a:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition: all 0.5s;
}

.map-link a:hover:before {
    width: 100%;
}